.button_warp{
    margin: 1rem;
}

.button{
    padding: 5px 40px;
    color: rgb(255, 255, 255);
    background-color: hsl(215, 100%, 50%);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    opacity: 70%;
}